@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../assets/fonts/Inter-Thin.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../assets/fonts/Inter-ExtraLight.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../assets/fonts/Inter-Light.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/Inter-Medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/Inter-SemiBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/Inter-Bold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('../assets/fonts/Inter-ExtraBold.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../assets/fonts/Inter-Black.woff2') format('woff2');
  }

  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scrollbar-gutter: stable;
    -webkit-scrollbar-gutter: stable;
    -moz-osx-scrollbar-gutter: stable;

    --background-base: 0deg 0% 100%;
    --background-body: 240deg 13% 97%;
    --background-alt: 240deg 9% 93%;

    --text-base: 240deg 8% 12%;
    --text-muted: 240deg 6% 40%;

    --color-black-base: 0deg 0% 7%;
    --color-black-hover: 0deg 0% 25%;
    --color-black-alt: 240deg 5% 60%;

    --color-white-base: 0deg 0% 100%;
    --color-white-hover: 240deg 9% 93%;

    --color-brand-base: 240deg 86% 66%;
    --color-brand-hover: 240deg 86% 78%;

    --color-primary-base: 220deg 82% 34%;

    --color-accent-base: 200deg 100% 57%;

    --color-danger: 2deg 93% 64%;
    --color-warning: 40deg 93% 64%;
    --color-success: 146deg 88% 44%;
  }
}
